/*
CSS Reset to remove Chrome's default styles!
KEEP YOURS THE SAME AS MINE!
*/\

* {
  font-size: 100%;
  line-height: 1;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #5fc5a3;
  color: #2368bb;
  font-family: Arial, sans;
  font-size: 16px;
  /* margin: 100px; */
}

/* DIVIDER ELEMENTS */
header, section, footer {
  padding: 30px;
  margin: 30px;
}

header {
  background-color: SandyBrown;
  border-bottom: 20px dashed yellow;
  color: white;
}

header h1 {
  font-size: 60px;
  text-align: center;
}

section {
  color: white;
  background-color: #39af37;
  border: 20px ridge purple;
}

footer {
  background-color: indigo;
  color: white;
}

footer p {
  font-size: 13px;
  text-align: center;
}

/* COMMON ELEMENTS */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-style: italic;
  font-family: "Bree Serif";
  margin-bottom: 20px;
}

h1 {
  font-size: 40px;
  text-align: left;
  margin-bottom: 40px;
}

h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

h3 {
  font-size: 20px;
}

p {
  line-height: 1.5;
  /* LONGHAND */
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 0;

  /* SHORTHAND - SAME AS ABOVE */
  margin: 15px 0;
}

/* Lists */
ol, ul {
  margin: 15px 0;
}

a {
  color: yellow;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  height: 200px;
}

/* CUSTOM CLASSES */
.title {
  font-size: 100px;
  text-decoration: underline;
}

.title-red {
  color: red;
}

.container {
  max-width: 1000px;
  margin: 0 auto;

  /* LONG HAND */
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
